# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Logs
*.log
*.csv

# Runtime / temporary files
*.tmp
*.swp
*.save

# OS files
.DS_Store
Thumbs.db
