# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Logs
*.log

# Runtime / temporary files
*.tmp
*.swp

# OS files
.DS_Store
Thumbs.db

# Generated CSV logs
*.csv
*.save
*.save
